@font-face {
	font-family: 'Comicoro';
	src: url('../../res/Comicoro.ttf');
}

rust::after {
	content: 'Rust';
	font-weight: bold;
}
rust::before {
	content: '🦀';
	font-weight: bold;
}
rust {
	padding: 5px;
	border-radius: 10px;
	color: black;
	background-color: Sienna;
}
C::after {
	content: 'C';
	font-weight: bold;
}
C::before {
	content: '⬡';
	font-weight: bold;
}
C {
	padding: 5px;
	border-radius: 10px;
	color: black;
	background-color: #abbbce;
}
cpp::after {
	content: 'c++';
	font-weight: bold;
}
cpp::before {
	content: '⬡';
	font-weight: bold;
}
cpp {
	padding: 5px;
	border-radius: 10px;
	color: black;
	background-color: royalblue;
}
sfml::after {
	content: 'SFML';
	font-weight: bold;
}
sfml::before {
	content: '⬡';
	font-weight: bold;
}
sfml {
	padding: 5px;
	border-radius: 10px;
	color: black;
	background-color: #90d13e;
}
sdl::after {
	content: 'SDL';
	font-weight: bold;
}
sdl::before {
	content: '⬡';
	font-weight: bold;
}
sdl {
	padding: 5px;
	border-radius: 10px;
	color: black;
	background-color: aquamarine;
}
lua::after {
	content: 'Lua';
	font-weight: bold;
}
lua::before {
	content: '⬡';
	font-weight: bold;
}
lua {
	padding: 5px;
	border-radius: 10px;
	color: black;
	background-color: blue;
}
@keyframes size-up {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}
@media (max-width: 800px) {
	#projects {
		grid-template-columns: 1fr;
	}
}
