@font-face {
	font-family: 'CozetteVector';
	src: url('https://erizo.cc/res/CozetteVector.otf');
}
html {
	height: 100%;
}
body {
	height: 100%;
	align-items: center;
	flex-direction: column;
	margin: 0;
	display: flex;
	font-family: CozetteVector;
}
.year {
	display: flex;
	gap: 20px;
	justify-content: center;
	background-color: rgba(35, 35, 35, 0.5);
	border-radius: 15px;
	width: 90%;
	height: auto;
	padding: 30px;
	border: purple 2px solid;
	margin-top: 30px;
	flex-wrap: wrap;
}
.tile {
	width: 90%;
	border: black 1px solid;
	display: flex;
	border-radius: 15px;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
}
.tile > a {
	display: flex;
	width: 100%;
}
.desc {
	color: pink;
	display: flex;
	align-items: center;
    margin: 0;
}
.thumbnail::before{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
	width: 80px;
	height: 60px;
    border-radius: 15px;
    color: white;
    font-size: 13px;
}
.thumbnail {
    display: flex;
    align-self: center;
	width: 80px;
	height: 60px;
	image-rendering: pixelated;
	border-radius: 15px;
}
legend {
	font-size: 50px;
	text-align: center;
	color: white;
}
.title {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0px 0px 0px 20px;
    height: fit-content;
	color: hotpink;
	font-size: 20px;
	text-align: center;
}
delim:before{
	content: "~~~";
	color: rgba(119, 88, 168, 1);
	margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    margin:0 10px;
}
.right {
	text-align: center;
	width: 100%;
}
a {
	text-decoration: none;
}
@media only screen and (max-width: 400px) {
	.tile,
	a {
		width: 100%;
        font-size: 13px;
	}
}
