@font-face {
	font-family: 'CozetteVector';
	src: url('https://erizo.cc/res/CozetteVector.otf');
}
html {
	display: flex;
	justify-content: center;
}
html {
	height: 100%;
	width: 100%;
}
body {
	width: 90%;
	height: 100%;
	align-items: center;
	flex-direction: column;
	margin: 0;
	display: flex;
	font-family: CozetteVector;
}
.project-container > a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.project-container:hover {
	transform: scale(1.1);
	box-shadow: 0 12px 40px 0 rgba(31, 38, 135, 0.5);
}
#projects {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	column-gap: 35px;
	row-gap: 15px;
	padding: 20px;
	height: auto;
	width: 100%;
}
.project-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	background: linear-gradient(120deg,rgba(0, 0, 0, 0.1) 50%, rgba(255, 255, 255, 0.15) 100%);
	pointer-events: none;
}
.project-container:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.25) 100%);
	pointer-events: none;
}
.project-container {
	position: relative;
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 1em;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}
#left {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	height: 100%;
}
#right {
	width: 80%;
	height: 100%;
}
#icon {
	width: 100%;
	height: 100%;
	border: solid 1px black;
	border-radius: 15px;
	background-color: #232323;
	padding: 5px;
	margin: 1vw;
	color: white;
}
.title {
	color: pink;
}
.desc {
	color: magenta;
}
.year {
	color: hotpink;
	width: 100%;
	border-bottom: magenta 1px solid;
}
rust::after {
	content: 'Rust';
	font-weight: bold;
}
rust::before {
	content: '🦀';
	font-weight: bold;
}
rust {
	padding: 5px;
	border-radius: 10px;
	color: black;
	background-color: Sienna;
}
C::after {
	content: 'C';
	font-weight: bold;
}
C::before {
	content: '⬡';
	font-weight: bold;
}
C {
	padding: 5px;
	border-radius: 10px;
	color: black;
	background-color: #abbbce;
}
cpp::after {
	content: 'c++';
	font-weight: bold;
}
cpp::before {
	content: '⬡';
	font-weight: bold;
}
cpp {
	padding: 5px;
	border-radius: 10px;
	color: black;
	background-color: royalblue;
}
sfml::after {
	content: 'SFML';
	font-weight: bold;
}
sfml::before {
	content: '⬡';
	font-weight: bold;
}
sfml {
	padding: 5px;
	border-radius: 10px;
	color: black;
	background-color: #90d13e;
}
sdl::after {
	content: 'SDL';
	font-weight: bold;
}
sdl::before {
	content: '⬡';
	font-weight: bold;
}
sdl {
	padding: 5px;
	border-radius: 10px;
	color: black;
	background-color: aquamarine;
}
lua::after {
	content: 'Lua';
	font-weight: bold;
}
lua::before {
	content: '⬡';
	font-weight: bold;
}
lua {
	padding: 5px;
	border-radius: 10px;
	color: black;
	background-color: blue;
}
@keyframes size-up {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}
@media (max-width: 800px) {
	#projects {
		grid-template-columns: 1fr;
	}
}
