html {
	--color: rgb(0, 0, 0);
}
body {
	background-color: rgb(34, 21, 36);
	display: flex;
	background-image: url(res/Niko-with-the-sun2.jpg);
	height: 95vh;
	font-family: monospace;
}
a {
	text-decoration: none;
	color: rgb(209, 0, 216);
	z-index:9999;
}
#category-label{
	z-index: -9999;
}
#categories {
	display: flex;
	flex-direction: column;
	width: 15%;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0.081);
	border: 2px solid rgb(95, 75, 95);
	border-radius: 15px;
	height: fit-content;
	transform: translateY(10%);
	box-shadow: 1px 2px 40px;
	backdrop-filter: saturate(180%) blur(20px);
}
#categories > * {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	margin: 10px;
	border: 1px solid;
	font-size: 23px;
	border-bottom: 4px solid;
	color: rgb(255, 255, 255);
	border: 1px solid rgb(114, 112, 112);
	box-shadow: 1px 1px 20px black;
	border-radius: 10px;
	backdrop-filter: saturate(180%) blur(20px);
}
#categories > *:hover {
	width: 0.9;
	border: 3px solid;
	border-bottom: 10px solid;
	animation: size-down 0.6s;
	color: var(--color);
	font-weight: 900;
	margin: 10px;
	text-transform: uppercase;
	cursor: pointer;
	box-shadow: 1px 2px 15px var(--color);
	text-shadow: 1px 1px 5px var(--color);
}
.activated {
	border: 3px solid !important;
	border-bottom: 10px solid !important;
	color: var(--color) !important;
	font-weight: 900 !important;
	margin: 10px !important;
	text-transform: uppercase !important;
	box-shadow: 1px 2px 15px var(--color) !important;
	text-shadow: 1px 1px 5px var(--color) !important;
}
main {
	backdrop-filter: saturate(180%) blur(20px);
	width: 100%;
	margin: 20px;
	background-color: rgba(85, 81, 81, 0.081);
	box-shadow: 10px 11px 30px;
	height: 100%;
	border: 1px black solid;
	border-radius: 20px;
	overflow: hidden;
}
@keyframes size-down {
	from {
		transform: scale(1.1);
	}
	to {
		transform: scale(1);
	}
}
