:root {
	--primary: rgb(108, 49, 108);
	--secondary: rgb(43, 39, 48);
	--theriary: rgb(73, 67, 82);
}
html {
	height: 85%;
}
body {
	background-color: var(--primary);
	font-family: 'Sono', sans-serif;
	height: 100%;
}
#photo {
	height: 100%;
	border-radius: 20px;
}
#content {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	margin-top: 5%;
}
.button {
	border: 3px solid var(--secondary);
	padding: 10px;
	background-color: var(--theriary);
	color: rgb(161, 80, 202);
	display: inline;
	text-decoration: none;
	border-radius: 10px;
}
.button:hover {
	background-color: blueviolet;
	color: var(--secondary);
}
#buttons {
	grid-auto-flow: column;
	text-align: center;
	font-size: 30px;
	display: grid;
	width: 70%;
	margin-bottom: 5px;
	column-gap: 5px;
	font-size: 3lvh;
}
#card {
	background-color: var(--secondary);
	width: 70%;
	border-radius: 10px;
	height: 60%;
	text-align: center;
}
#main {
	display: inline-block;
	height: 70%;
	margin: 0;
	margin-top: 5%;
}
#socials {
	color: var(--primary);
	font-weight: bold;
	float: right;
	margin-left: 10px;
	margin-top: 15%;
	font-size: larger;
}
#red-btn {
	width: 50px;
}
#socials > a {
	text-decoration: none;
	color: blueviolet;
}
#socials > a:hover {
	text-decoration: underline;
}
#socials > a:visited {
	color: blueviolet;
}

@media only screen and (max-width: 1200px) {
	#photo {
		margin-top: 20%;
		height: 60%;
	}
	#buttons {
		grid-auto-flow: row;
		row-gap: 5px;
	}
	#socials {
		float: none;
		font-size: 20px;
	}
}
