html{
    height: 100%;
    width: 100%;
    margin: 0;
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: monospace;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4,1fr);
}
details{
    overflow: hidden;
    max-height: 500px;
    transition: max-height 700ms ease-in-out;
    width: max-content;
    color: white;
    height: max-content;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: #312f2f solid 1px;

}
summary{
    display: block;
}
summary::marker{
    content: "";
}
.items > *{
    display: flex;
    gap: 10px;
}
details > div {
  overflow: hidden;
  display: grid;
  animation-duration: 0.2s;
}

details > .animation {
  animation-name: grid-expand;
  animation-timing-function: ease-out;
}

details > .collapsing {
  animation-direction: reverse;
  animation-timing-function: ease-in;
}

details > div > div {
  min-height: 0;
}

@keyframes grid-expand {
  0% {
    grid-template-rows: 0fr;
  }
  100% {
    grid-template-rows: 1fr;
  }
}