@font-face {
	font-family: 'CozetteVector';
	src: url('https://erizo.cc/res/CozetteVector.otf');
}
@keyframes move {
	0% {
		left: 0;
		transform: scaleX(1);
	}
	49.999% {
		transform: scaleX(1);
	}
	50% {
		left: calc(100% - 32px);
		transform: scaleX(-1);
	}
	100% {
		left: 0%;
		transform: scaleX(-1);
	}
}
body,
html {
	overflow: hidden;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 20px;
	gap: 10px;
	font-family: CozetteVector;
}
a {
	text-decoration: none;
}
b {
	font-weight: 900;
	font-family: 'Courier New', Courier, monospace;
	font-size: 0.95em;
	text-shadow: 5px 4px 2px rgba(0, 0, 0, 0.7);
}
#left {
	height: 100%;
	width: 45%;
}
#right {
	height: 100%;
	width: 55%;
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	margin-top: 30px;
}
#Niko {
	width: 100%;
}
#oneshot {
	position: relative;
	animation: move 20s linear infinite;
}
#badges {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	align-items: center;
}
.badge {
	width: 15%;
	image-rendering: pixelated;
}
#greeter {
	color: hotpink;
	font-size: 60px;
	text-shadow: 3px 3px 0px pink, 15px 15px 5px rgba(0, 0, 0, 0.7);
	-webkit-text-stroke: 1px pink;
}
.textbox {
	color: pink;
	font-weight: unset;
	font-size: 20px;
	border: 1px solid magenta;
	width: 70%;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(23, 23, 23, 0.7);
}
#socials {
	display: flex;
	width: 73%;
	gap: 10px;
}

.textbox > img {
	width: 20px;
}
#face {
	width: 100%;
	height: 40%;
	image-rendering: pixelated;
	border: hotpink solid 1px;
	border-radius: 15px;
	object-fit: cover;
}
@media screen and (max-width: 650px) {
	#face {
		height: 150px;
		object-fit: cover;
		width: 95%;
		object-position: 0px -100px;
	}
	#Niko {
		width: 50%;
	}
	.badge {
		width: 30%;
	}
	#left {
		margin: 0;
		text-align: center;
		height: fit-content;
		width: 100%;
	}
	.textbox {
		width: 95%;
	}
	#right {
		margin: 0;
		height: fit-content;
		width: 95%;
	}
	.greeter-mobile {
		display: block !important;
	}
	.greeter-desktop {
		display: none !important;
	}
	#socials {
		width: 100%;
		flex-grow: 1;
		margin-bottom: 20px;
	}
	html,
	body {
		flex-direction: column !important;
		padding: 0;
		overflow: scroll;
		margin: 0;
		width: 100%;
		align-items: center;
	}
}
