@font-face {
	font-family: 'Comicoro';
	src: url('../../res/Comicoro.ttf');
}
@keyframes move {
	0% {
		left: 0;
		transform: scaleX(1);
	}
	49.999% {
		transform: scaleX(1);
	}
	50% {
		left: calc(100% - 32px);
		transform: scaleX(-1);
	}
	100% {
		left: 0%;
		transform: scaleX(-1);
	}
}
body,
html {
	overflow: hidden;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 20px;
	gap: 10px;
	font-family: Comicoro;
}
#backlinks {
	color: hotpink;
	margin: 10px;
	padding: 3px;
	border-radius: 10px;
}
a {
	text-decoration: none;
}
b {
	font-weight: 900;
	font-family: 'Courier New', Courier, monospace;
	font-size: 0.8em;
	text-shadow: 5px 4px 2px rgba(0, 0, 0, 0.7);
}
#left {
	height: 100%;
	width: 45%;
	margin-left: 10%;
}
#right {
	height: 100%;
	width: 55%;
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	margin-top: 30px;
}
#Niko {
	width: 100%;
	margin-top: 50px;
}
#oneshot {
	position: relative;
	animation: move 20s linear infinite;
}
#badges {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	align-items: center;
}
.badge {
	width: 15%;
	image-rendering: pixelated;
	transition: scale 0.1s ease-in-out;
	z-index: 9999999;
}
.badge:hover {
	scale: 2;
}
#greeter {
	color: hotpink;
	font-size: 90px;
	text-shadow: 3px 3px 0px rgb(145, 32, 75), 15px 15px 5px rgba(0, 0, 0, 0.7);
	-webkit-text-stroke: 1px pink;
	margin: 40px 0px 0px 0px;
}
.textbox {
	color: pink;
	font-weight: unset;
	font-size: 1.8vw;
	border: 1px solid magenta;
	width: 70%;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(23, 23, 23, 0.7);
	line-height: 25px;
	box-sizing: border-box;
}
.long {
	margin: 10px 0px;
	justify-content: center;
	align-items: center;
	display: flex;
}

#me-stuff {
	display: flex;
	gap: 10px;
	width: 70%;
}
#me-stuff > .textbox {
	display: flex;
	justify-content: center;
	align-items: center;
}
.textbox > img {
	width: 20px;
	margin-right: 5px;
}
.long > img {
	height: 20px;
	margin-right: 5px;
}
#face {
	width: 100%;
	height: 40%;
	image-rendering: pixelated;
	border: hotpink solid 1px;
	border-radius: 15px;
	object-fit: cover;
}
@media screen and (max-width: 800px) {
	#face {
		height: 150px;
		object-fit: cover;
		width: 95%;
		object-position: 0px -100px;
	}
	#Niko {
		width: 50%;
		margin: 0;
	}
	.badge {
		width: 30%;
	}
	#left {
		margin: 0;
		text-align: center;
		height: fit-content;
		width: 100%;
	}
	.textbox {
		width: 100%;
		font-size: 6vw;
	}
	#right {
		margin: 0;
		height: fit-content;
		width: 95%;
	}
	.greeter-mobile {
		display: block !important;
	}
	.greeter-desktop {
		display: none !important;
	}
	#me-stuff {
		width: 100%;
		flex-grow: 1;
	}
	html,
	body {
		flex-direction: column !important;
		padding: 0;
		overflow: scroll;
		margin: 0;
		width: 100%;
		height: 100%;
		align-items: center;
	}
}
