@font-face {
	font-family: 'Comicoro';
	src: url('https://erizo.cc/res/Comicoro.ttf');
}
body {
	font-family: Comicoro;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
three {
	display: flex;
	width: 100px;
	height: 100px;
	font-size: 20px;
	border-radius: 15px;
	border: 1px rgb(95, 75, 95) solid;
	color: pink;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	text-align: center;
}
marquee {
	height: 100%;
}
