@font-face {
	font-family: "CozetteVector";
	src: url("https://erizo.cc/res/CozetteVector.otf");
}
body{
	font-family: CozetteVector;
	display: flex;
	justify-content: center;
	align-items:center;
	height:100%;
}
three{
	display: flex;
	width:100px;
	height: 100px;
	font-size:20px;
	border-radius:15px;
	border: 1px black solid;
	color:pink;
	background-color: rgba(0,0,0,0.5);
	justify-content: center;
	align-items:center;
	text-align:center;
}
marquee{
	height:100%;
}
