
@media only screen and (max-width:400px){
	.entry{
		font-size: 10px !important;
	}
}
@font-face {
	font-family: "CozetteVector";
	src: url("https://erizo.cc/res/CozetteVector.otf");
}
body{
	display:flex;
	gap:10px;
	flex-direction: column;
	padding:10px;
}
.entry{
	display:flex;
	border: 2px solid #202020;
	border-radius:20px;
	background-color:rgba(13,13,13,0.7);
	align-items:center;
	font-size:15px;
	font-family:CozetteVector;
}
.title{
	color:pink;
	margin: 0;
}
.date{
	margin: 0;
	color:hotpink;

}
.icon{
	width:16px;
	height: 16px;
	margin: 5px;
	border-radius: 10px;
	padding: 10px;
}
#writing-category{
	width: 100%;
	justify-content: center;
	align-content: stretch;
	align-items: center;
	flex-direction: row;
	display: flex;
	align-items: stretch;
}
#writing-category > *{
	width:50%;
	padding: 20px;
	margin: 5px;
	justify-content: center;
}
#writing-category > *:hover{
	cursor:pointer;
}
.invisible{
	display: none;
}
