audio {
	margin: 0 10px;
	&::-webkit-media-controls-enclosure {
		display: flex;
		align-items: center;
		background-color: rgba(0, 0, 0, 0);
		border-radius: 0%;
		height: fit-content;
	}

	&::-webkit-media-controls-panel {
		padding: 0.5rem;
		height: fit-content;
	}

	&::-webkit-media-controls-play-button,
	&::-webkit-media-controls-mute-button {
		border-radius: 0.5rem;
		margin-inline-end: 0.5rem;
	}

	&::-webkit-media-controls-play-button {
		background-color:#e0b3ff ;
	}

	&::-webkit-media-controls-mute-button {
		display: none;
	}

	&::-webkit-media-controls-play-options {
		background-color: oklch(0.79 0.11 88.35);
	}

	&::-webkit-media-controls-timeline {
		background-color: #9f7aea;
		border-radius: 0.5rem;
		margin-inline-start: 1rem;
	}

	&::-webkit-media-controls-current-time-display,
	&::-webkit-media-controls-time-remaining-display {
		color: #e0b3ff;
	}
}

