@font-face {
	font-family: "CozetteVector";
	src: url("../../res/CozetteVector.otf");
}

html{
	height:100%;
}
body{
	height:100%;
	align-items:center;
	flex-direction: column;
	margin:0;		
	display: flex;
	font-family:CozetteVector;
}
.year{
	display: grid;
	place-items:center;
	gap:20px;
	grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
	justify-content: space-evenly;
	background-color: rgba(35,35,35,0.5) ;
	border-radius: 15px;
	width: 95%;
	min-height: 500px;
	max-height: 50% !important;
	overflow:scroll;
	border: purple 2px solid;
	margin-top: 30px;
}

.album{
	color: pink;
	filter: blur(10px);
}
.single{
	width: 200px;
	height: fit-content;
	border: 1px solid hotpink;
	margin-left:20px;
	border-radius: 0px 0px 15px 15px;
}
.album > .song-info{
	height: fit-content;
	margin-bottom:0;
	border-radius:0px;
}
.album > .song-info > .track-container{
	padding: 5px;
	text-align: left;
}
.album > .song-info > .track-container > .track{
	border-top: 1px solid pink;
	display: flex;
	align-items: center;
}
.album{
	border: 1px solid magenta;
}
.track:hover{
	cursor: pointer;
}
.play-button{
	width: 20px;
	height: 20px
	min-width: 20px;
}
.single:hover{
	cursor:pointer;
}
.thumbnail{
	width:200px;
	margin:0;
}
legend{
	font-size:50px;
	text-align:center;
	color: white;
}
.title{
	color: pink;
	font-size:20px;
	padding-bottom: 10px;
	margin:0;
	position: relative;
	top:5px;
	text-align:center;
}
.song-info{
	height: 50px;
	text-align:center;
	width:100%;
	background-color: rgba(0,0,0,0.5);
	border-radius: 0px 0px 15px 15px;
}
@media only screen and (max-width:480px){
	.year{
		width:85%;
	}
	.single{
		margin:0;
		padding:0px;
		width:100%;
	}
	.thumbnail{
		width: 100%;
		align-items: center;
	}
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #eb00ff;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fe00ff;
}
